.container {
    margin-top: 60px;
}

.leftArea {
    display: flex;
}

.characters {
    display: flex;
    flex-direction: column;
    z-index: 10;
    margin-left: 14px;
}

.label {
    font-weight: 800;
    font-size: 20px;
    margin: 0px 0px 40px 10px;
}

.portraitArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}

.portrait {
    transition: all ease .4s;
    width: fit-content;
}

.portrait:hover {
    margin-top: -12px;
}

.portrait .img {
    width: 120px;
}

.imgCharacter {
    flex: 1;
}