.container {
    background-color: black;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    scale: 0.9;
    transition: all ease .3s;
    cursor: pointer;
}

.play:hover {
    scale: 1;
}