@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  color: #fff;
}