.container {
    min-height: 100vh;
    background-image: url('/assets/bg-Security_ITEM-MALL.jpg');
    background-size: cover;
}

.contentArea {
    max-width: 1200px;
    margin: auto;
    margin-top: -4px;
}

.filter {
    display: flex;
    height: 90px;
    width: 100%;
    background-color: #2b76d3;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
}

.filter select {
    width: 150px;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
}

.leftArea {
    display: flex;
    gap: 20px;
}

.category,
.server,
.character {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rightArea {
    align-items: center;
    display: flex;
    gap: 8px;
}

.rightArea input {
    width: 150px;
    padding: 5px;
    outline: 0;
    border: 0;
    height: 30px;
    border-radius: 3px;
}

.lastRightArea {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    font-size: 14px;
}

.lastRightArea .firstP {
    color: #ff0000;
    font-weight: bold;
}

.lastRightArea .secondP {
    color: #666666;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table {
    width: 100%;
    text-align: center;
    color: #000;
    border-spacing: 0;
    border-bottom: 1px solid #000;
    margin-bottom: 28px;
}

.table th {
    background-color: #2c1b01;
    height: 44px;
    color: #fff;
    line-height: 44px;
}

.table tr {
    background-color: #f8f8f8;
}

.table td {
    padding: 8px 10px;
    height: 100px;
    border-bottom: 1px solid #eee;
}

.table .name {
    width: 300px;
}

.table .rank {
    width: 200px;
}

.nav {
    display: flex;
    justify-content: center;
    color: black;
}

.before,
.next {
    cursor: pointer;
    padding: 8px 10px;
    margin-bottom: 30px;
}